/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

.container {
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    all: unset;
    padding: 5px 10px;
    color: #ffffff;
    background-color: #0061ff;
    cursor: pointer;
    text-align: center;
}

.btn-white {
    all: unset;
    padding: 8px 12px;
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
}

.btn:hover {
    filter: brightness(1.4);
}

.border {
    width: 25%;
    border-bottom: 1px solid #d0d0d3;
}

/* #endregion COMMON*/

/* #region HEADER*/

/* Top menu */

#logo {
    align-self: center;
}

header .menu {
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #d1d9e1;
    z-index: 99;
}

header .left-menu,
header .right-menu {
    display: flex;
}

header .menu a:not(.btn) {
    text-decoration: none;
    color: #000000;
    display: block;
}

header .menu ul {
    list-style-type: none;
    display: flex;
}

header .menu li {
    padding: 0 20px;
}


header .menu li:hover:not(#logo, .btn-container) {
    border-bottom: 2px solid #000000;
}

/* /Top menu */

/* Jumbotron */

header .header-bottom {
    padding-bottom: 20px;
    background-color: #b4d0e7;
}

header .container.big {
    padding-top: 80px;
    max-width: 1180px;
}

header .container.big h1 {
    font-size: 70px;
    padding-top: 100px;
}

header .container.big .jumbo {
    display: flex;
    position: relative;
    bottom: -80px;
}

header .container.big .jumbo-left {
    width: 30%;
}

header .container.big .jumbo-left .btn {
    margin: 35px 0;
}

header .container.big .jumbo-left i {
    margin-top: 70px;
    font-size: 40px;
}

header .container.big .jumbo-right {
    width: 70%;
}

/* /Jumbotron */

/* #endregion HEADER*/

/* #region MAIN*/

/* Sezione1: Selezione piano business */

main {
    margin-top: 160px;
}

main .container {
    max-width: 1000px;
}

main .container h2 {
    font-size: 40px;
    margin-bottom: 75px;
}

main .container .radio span {

    margin: 0 50px 0 5px;
}

main .container .plan {
    display: flex;
    margin: 50px 0;
    gap: 50px;

}

main .container .col {
    width: calc((100% - 100px) / 3);
    border: 1px solid #d0d0d3;
}

main .container .plan .col .user {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

main .container .plan .col .type {
    line-height: 35px;
}

main .container .plan .col .box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main .container .plan .col .box .type span:last-child {
    color: #d0d0d3;
}


main .container .plan .col .box ul {
    list-style-type: none;
}

main .container .plan .col .box li {
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
}

main .container .plan .col .box .highlights i {
    color: #0061ff;
    font-size: 20px;
}

main .container .col-foot .user {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

main .container .col-foot .type {
    width: 75%;
}

main .container .col-foot {
    border: 1px solid #d0d0d3;
    margin-bottom: 150px;
}

main .container .col-foot .box-foot {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main .container .col-foot h3 {
    margin-bottom: 25px;
}

main .container .col-foot p {
    margin-top: 55px;
}

/* /Sezione1: Selezione piano business */

/* Sezione2: Partner */

main .container .partner {
    display: flex;
    gap: 50px;
}

main .container .box-big {
    width: 70%;
    margin-bottom: 160px;
}

main .container .partner .text {
    width: 30%;
}

main .container .partner .text h3 {
    margin: 65px 0 0;
}

main .container .partner .text p {
    margin: 30px 0;
}

/*/ Sezione2: Partner */

/* Sezione3: Operazioni Dropbox business */

main .container h2 {
    margin-bottom: 90px;
}

main .container .business {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

main .container .business .box-small {
    width: calc((100% - 100px) / 3);
    margin-bottom: 70px;
}

main .container .business .box-small h3 {
    margin-bottom: 40px;
}

main .container .box-big h2 {
    margin-bottom: 80px;
}

/*/ Sezione3: Operazioni Dropbox business */

/* Sezione4: Aziende */

main .mega-container {
    display: flex;
}

main .mega-container .logos,
main .mega-container .designit {
    width: calc(100vw / 3);
}

main .mega-container .logos {
    display: flex;
    flex-wrap: wrap;
}

main .mega-container .designit {
    padding: 50px;
    background-color: #f5f5f5;
}

main .mega-container .designit .autore {
    margin-top: 50px;
}

main .mega-container .designit img {
    width: 50%;
}

main .mega-container .designit .border {
    margin: 40px 0;
}

main .mega-container .brand {
    width: calc(100% / 2);
    padding: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mega-container .logos img {
    filter: invert(1);
}

#designit {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

#arizona {
    background-color: #61082b;
}

#florida {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1c1c;
}

#wbr {
    background-color: #d5001f;
}

#hearst {
    background-color: #b4d0e7;
}

#lonely {
    background-color: #0d2481;
}

#cco {
    background-color: #ffd830;
}

/*/ Sezione4: Aziende */

/* Sezione5: Prova Gratuita */

main .prova {
    background-color: #b4d0e7;
}

main .prova .container {
    padding: 135px 0;
    display: flex;
    justify-content: space-between;
}

main .prova .container .left {
    width: 50%;
}

main .prova .container .right {
    padding-top: 10px;
}

main .prova .container .left h2 {
    color: #61082b;
}

/*/ Sezione5: Prova Gratuita */

/* #endregion MAIN*/

/* #region FOOTER*/

/* #endregion FOOTER*/