/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container.big {
    max-width: 1180px;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    all: unset;
    padding: 8px 12px;
    color: #ffffff;
    background-color: #0061ff;
    cursor: pointer;
    text-align: center;
}

.btn-white {
    all: unset;
    padding: 8px 12px;
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    filter: brightness(1.4);
}

hr {
    width: 25%;
    border-bottom: 1px solid #d0d0d3;
}

/* #endregion COMMON*/

/* #region HEADER*/

/* Top menu */

#logo {
    align-self: center;
}

header .menu {
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #d1d9e1;
    z-index: 99;
}

header .left-menu,
header .right-menu {
    display: flex;
}

header .menu a:not(.btn) {
    text-decoration: none;
    color: #000000;
    display: block;
}

header .menu ul {
    list-style-type: none;
    display: flex;
}

header .menu li {
    padding: 0 20px;
    border-bottom: 2px solid transparent;
}

header .menu li:hover:not(#logo, .btn-container) {
    border-bottom: 2px solid #000000;
}

/* /Top menu */

/* #endregion HEADER*/

/* #region MAIN*/

main {
    margin-top: 80px;
}

/* Jumbotron */

main .jumbotron {
    padding-top: 100px;
    margin-bottom: 180px;
    background-color: #b4d0e7;
}

main .container.big .jumbo {
    display: flex;
    position: relative;
    bottom: -80px;
}

main .container.big .jumbo-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

main .container.big .jumbo-left .arrow {
    position: relative;
    bottom: 30px;
}

main.container.big .jumbo-left .btn {
    margin: 35px 0;
}

main .container.big .jumbo-left i {
    margin-top: 70px;
    font-size: 50px;
}

main .container.big .jumbo-right {
    width: 70%;
}

/* /Jumbotron */

/* Sezione1: Selezione piano business */

main .container .radio label {
    margin-right: 50px;
}

main .container .plan {
    display: flex;
    margin: 50px 0;
    gap: 50px;
}

main .container .col {
    width: calc((100% - 100px) / 3);
    border: 1px solid #d0d0d3;
}

main .container .plan .col .user {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

main .container .plan .col .type {
    line-height: 35px;
}

main .container .plan .col .type i {
    font-size: 14px;
}

main .container .plan .col .box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main .container .plan .col .box .type span:last-child {
    color: #d0d0d3;
}


main .container .plan .col .box ul {
    list-style-type: none;
}

main .container .plan .col .box li {
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
}

main .container .plan .col .box .highlights i {
    color: #0061ff;
    font-size: 20px;
}

main .container .col-foot .user {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

main .container .col-foot .type {
    width: 75%;
}

main .container .col-foot {
    border: 1px solid #d0d0d3;
    margin-bottom: 150px;
}

main .container .col-foot .box-foot {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main .container .col-foot h3 {
    margin-bottom: 25px;
}

main .container .col-foot p {
    margin-top: 55px;
}

/* /Sezione1: Selezione piano business */

/* Sezione2: Partner */

main .container .partner {
    display: flex;
    gap: 50px;
    margin-bottom: 150px;
}

main .container .box-big {
    width: 70%;
}

main .container .partner .text {
    width: 30%;
}

main .container .partner .text .btn-white {
    border: 1px solid #000000;
}

main .container .partner .text h3 {
    margin: 65px 0 0;
}

main .container .partner .text p {
    margin: 30px 0;
}

/*/ Sezione2: Partner */

/* Sezione3: Operazioni Dropbox business */

main .container h2 {
    margin-bottom: 90px;
}

main .container .business {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

main .container .business .box-small {
    width: calc((100% - 100px) / 3);
    margin-bottom: 70px;
}

main .container .business .box-small h3 {
    margin-bottom: 40px;
}

/*/ Sezione3: Operazioni Dropbox business */

/* Sezione4: Aziende */

main .container .aziende h2 {
    margin-bottom: 80px;
}

main .mega-container {
    margin-top: 150px;
    display: flex;
}

main .mega-container .logos,
main .mega-container .designit {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

main .mega-container .logos {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;

}

main .mega-container .logos img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .mega-container .designit {
    padding: 50px;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

/* Scrollbar */
/* Firefox */
main .mega-container .designit {
    scrollbar-width: auto;
    scrollbar-color: #d0d0d3 #f5f5f5;
}

/* Chrome, Edge, and Safari */
main .mega-container .designit::-webkit-scrollbar {
    width: 16px;
}

main .mega-container .designit::-webkit-scrollbar-track {
    background: #f5f5f5;
}

main .mega-container .designit::-webkit-scrollbar-thumb {
    background-color: #d0d0d3;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
}

/*/ Scrollbar */

main .mega-container .designit .autore {
    margin-top: 50px;
}

main .mega-container .designit img {
    width: 50%;
}

main .mega-container .designit hr {
    margin: 40px 0;
}

main .mega-container .brand {
    width: 50%;
    height: 50%;
    position: relative;
}

#designit {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

#arizona {
    background-color: #61082b;
}

#florida {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1c1c;
}

#wbr {
    background-color: #d5001f;
}

#hearst {
    background-color: #b4d0e7;
}

#lonely {
    background-color: #0d2481;
}

#cco {
    background-color: #ffd830;
}

/*/ Sezione4: Aziende */

/* Sezione5: Prova Gratuita */

main .prova {
    background-color: #b4d0e7;
    margin-bottom: 150px;
}

main .prova .container {
    padding: 135px 0;
    display: flex;
    justify-content: space-between;
}

main .prova .container .left {
    width: 50%;
}

main .prova .container .right {
    padding-top: 10px;
}

main .prova .container .left h2 {
    color: #61082b;
}

/*/ Sezione5: Prova Gratuita */

/* Sezione6: Domande Frequenti */

main .container .slot {
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    border-top: 1px solid #000000;
}

main .container .slot .domanda {
    display: flex;
    justify-content: space-between;
}

main .container .risposta {
    padding-top: 35px;
    display: none;
}

main .container .slot:hover .risposta {
    display: block;
}

main .container .slot .chevron .chevron-up {
    display: none;
}

main .container .slot:hover .chevron-up {
    display: block;
}

main .container .slot:hover .chevron-down {
    display: none;
}

main .container .slot:last-child {
    border-bottom: 1px solid #000000;
}

/*/ Sezione6: Domande Frequenti */

/* #endregion MAIN*/

/* #region FOOTER*/

footer {
    margin-top: 150px;
    color: #ffffff;
    background-color: #000000;
}

footer .footer-container {
    max-width: 1180px;
    margin: 0 auto;
}

footer .container.big {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

footer .container.big a {
    text-decoration: none;
    color: inherit;
}

footer .container.big ul {
    list-style-type: none;
    padding-bottom: 100px;
}

footer .container.big ul h3 {
    margin-bottom: 30px;
}

footer .container.big li {
    margin: 15px 0;
}

footer .footer-container .lingua {
    width: 10%;
    color: #999999;
    padding: 50px 0;
    border-top: 1px solid #ffffff;
}

footer .footer-container .lingua span {
    margin-left: 10px;
}

footer .footer-container .lingua i {
    vertical-align: middle;
}

/* #endregion FOOTER*/